@{
	ViewBag.Title = "我要買房";
    ViewBag.BodyClass = "Sell List";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script src="~/Content/js/bootstrap/util.js"></script>
    <script src="~/Content/js/bootstrap/dropdown.js"></script>
    <script>
    	// Fix input element click problem
    	$('.dropdown-menu').click(function(e) {
    		e.stopPropagation();
    	});
    </script>
}

<h1 class="h2 title">@ViewBag.Title</h1>

<div id="content">

	<div class="wrap">

		<div class="filter">
			<form action="" class="form-inline">
				<div class="form-group">
					<label for="" class="sr-only">縣市</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">縣市</button>
						<div class="dropdown-menu city">
							<div class="row">
								<label for="" class="col-xs-3 form-control-label text-xs-right">北部</label>
								<div class="col-xs-9">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">行政區</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">行政區</button>
						<div class="dropdown-menu district">
							
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">總價</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">總價</button>
						<div class="dropdown-menu price">
							
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">用途</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">用途</button>
						<div class="dropdown-menu usage">
							
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">坪數</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">坪數</button>
						<div class="dropdown-menu size">
							
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">更多條件</label>
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">更多條件</button>
						<div class="dropdown-menu other">
							
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="sr-only">關鍵字</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-primary">搜　尋</button>
				</div>
			</form>
		</div>

		<h2 class="result">
			共有<strong>304</strong>間房屋符合條件
		</h2>

		<ol class="prolist row">
			<li class="pro">
				<article class="card">
					<a href="~/Sell/Content" class="card-img-top">
						<img src="~/Content/images/Index/Sell.jpg" alt="北大稀有輕豪宅">
					</a>
					<div class="card-block">
						<h4 class="card-title"><a href="~/Sell/Content">北大稀有輕豪宅</a></h4>
						<section class="card-text">
							<h5 class="card-subtitle">高樓景觀屋況佳、格局方正採光佳</h5>
							<ul class="feature list-inline">
								<li>新北市樹林區中華路</li>
								<li>電梯大樓</li>
								<li>成屋</li>
								<li>坡道平面車位</li>
							</ul>
							<ul class="info list-inline">
								<li>49.27 <span class="text-muted">建坪</span></li>
								<li>29.11 <span class="text-muted">主+陽</span></li>
								<li>7.3 <span class="text-muted">年</span></li>
								<li>14/16 <span class="text-muted">樓</span></li>
								<li>
									3 <span class="text-muted">房</span>
									2 <span class="text-muted">廳</span>
									2 <span class="text-muted">衛</span>
									0 <span class="text-muted">室</span>
								</li>
							</ul>
							<span class="price">
								<strong class="text-danger">2,980</strong>萬
							</span>
						</section>
						<a href="~/Sell/Content" class="more btn btn-secondary">
							看更多
							<i class="icon-angle-right"></i>
						</a>
					</div>
				</article>
			</li>
			<li class="pro">
				<article class="card">
					<a href="~/Sell/Content" class="card-img-top">
						<img src="~/Content/images/Index/Sell.jpg" alt="北大稀有輕豪宅">
					</a>
					<div class="card-block">
						<h4 class="card-title"><a href="~/Sell/Content">北大稀有輕豪宅</a></h4>
						<section class="card-text">
							<h5 class="card-subtitle">高樓景觀屋況佳、格局方正採光佳</h5>
							<ul class="feature list-inline">
								<li>新北市樹林區中華路</li>
								<li>電梯大樓</li>
								<li>成屋</li>
								<li>坡道平面車位</li>
							</ul>
							<ul class="info list-inline">
								<li>49.27 <span class="text-muted">建坪</span></li>
								<li>29.11 <span class="text-muted">主+陽</span></li>
								<li>7.3 <span class="text-muted">年</span></li>
								<li>14/16 <span class="text-muted">樓</span></li>
								<li>
									3 <span class="text-muted">房</span>
									2 <span class="text-muted">廳</span>
									2 <span class="text-muted">衛</span>
									0 <span class="text-muted">室</span>
								</li>
							</ul>
							<span class="price">
								<strong class="text-danger">2,980</strong>萬
							</span>
						</section>
						<a href="~/Sell/Content" class="more btn btn-secondary">
							看更多
							<i class="icon-angle-right"></i>
						</a>
					</div>
				</article>
			</li>
		</ol>

	</div>

</div>