@{
    ViewBag.Title = "我要買房";
    ViewBag.BodyClass = "Sell List";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section css {
    <link rel="stylesheet" href="/Content/css/vendor/themify-icons.css">
}
@section Scripts {
    <script src="~/Content/js/bootstrap/util.js"></script>
    <script src="~/Content/js/bootstrap/dropdown.js"></script>
    @* <script src="~/Content/js/bootstrap/collapse.js"></script> *@

    <script>
        // Fix input element click problem
        $('.dropdown-menu').click(function (e) {
            e.stopPropagation();
        });
        // click dropdown-toggle & hide collapse area
        // $('.dropdown-toggle').click(function (e) {
        //     $('#collapse-other').collapse('hide');
        // });
        // $('#collapse-other').on('show.bs.collapse', function () {
        //     $('.btn[data-toggle="collapse"]').addClass('active');
        // });
        // $('#collapse-other').on('hide.bs.collapse', function () {
        //     $('.btn[data-toggle="collapse"]').removeClass('active');
        // });
    </script>
}
<h1 class="h2 title">@ViewBag.Title</h1>
<div id="content">
    <div class="wrap">

        <div class="filter">
            <form action="" class="form-inline">
                <div class="form-group">
                    <label for="" class="sr-only">縣市</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">縣市<i class="ti-angle-down"></i></button>
                        @* 縣市:單選 *@
                        <div class="dropdown-menu city">
                            <div class="row">
                                <label for="" class="col-xs-2 form-control-label text-xs-right">北部</label>
                                <div class="col-xs-10 input-inline-group">
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        北市
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        新北
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        桃園
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        竹市
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        竹縣
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        基隆
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="" class="col-xs-2 form-control-label text-xs-right">中部</label>
                                <div class="col-xs-10 input-inline-group">
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        台中
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        彰化
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        苗栗
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        南投
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        雲林
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="" class="col-xs-2 form-control-label text-xs-right">南部</label>
                                <div class="col-xs-10 input-inline-group">
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        高雄
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        台南
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        嘉市
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        嘉縣
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        屏東
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="" class="col-xs-2 form-control-label text-xs-right">東部</label>
                                <div class="col-xs-10 input-inline-group">
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        宜蘭
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        花蓮
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        台東
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="" class="col-xs-2 form-control-label text-xs-right">離島</label>
                                <div class="col-xs-10 input-inline-group">
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        澎湖
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        金門
                                    </label>
                                    <label class="c-input c-radio m-b-0">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        馬祖
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="sr-only">行政區</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">行政區<i class="ti-angle-down"></i></button>
                        @* 行政區: 可複選 *@
                        <div class="dropdown-menu district">
                            @* 沒選縣市就選行政區的警告: *@
                            @* <p class="text-danger">請先選擇縣市！</p> *@
                            <span>可複選：</span>
                            <hr class="sm" />
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                桃園區
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="sr-only">總價</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">總價<i class="ti-angle-down"></i></button>
                        <div class="dropdown-menu price form-inline p-t-1">
                            <div class="input-group">
                                <select name="" id="" class="form-control form-control-sm">
                                    <option value="">0</option>
                                    <option value="">200</option>
                                    <option value="">400</option>
                                    <option value="">800</option>
                                </select>
                                <span class="input-group-addon form-control-sm">萬</span>
                            </div>
                            ~
                            <div class="input-group">
                                <select name="" id="" class="form-control form-control-sm">
                                    <option value="">不限</option>
                                    <option value="">200</option>
                                    <option value="">400</option>
                                    <option value="">800</option>
                                </select>
                                <span class="input-group-addon form-control-sm">萬</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="sr-only">用途</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown">用途<i class="ti-angle-down"></i></button>
                        <div class="dropdown-menu usage">
                            <span>可複選：</span>
                            <hr class="sm" />
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                住宅
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                店面
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                辦公
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                廠房
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                別墅
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                倉庫
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                土地
                            </label>
                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                其他
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="sr-only">坪數</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary style2 dropdown-toggle" data-toggle="dropdown">坪數<i class="ti-angle-down"></i></button>
                        <div class="dropdown-menu size form-inline">
                            <label for="">計算方式：</label>
                            <select name="" id="" class="form-control form-control-sm">
                                <option value="">建坪</option>
                                <option value="">主+陽</option>
                                <option value="">地坪</option>
                            </select>
                            <hr class="sm" />
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                0坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                20坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                30坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                40坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                50坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                60坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                100坪以上
                            </label>
                            <label class="c-input c-radio">
                                <input type="radio">
                                <span class="c-indicator"></span>
                                <span class="input-group">
                                    <input type="text" class="form-control form-control-sm w-x-4">
                                    <span class="input-group-addon form-control-sm">坪</span>
                                </span>
                                ~
                                <span class="input-group">
                                    <input type="text" class="form-control form-control-sm w-x-4">
                                    <span class="input-group-addon form-control-sm">坪</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                @* 更多條件 暫時隱藏 *@
                @* <div class="form-group">
                    <label for="" class="sr-only">更多條件</label>
                    <button class="btn btn-secondary style2" data-toggle="collapse" data-target="#collapse-other" aria-expanded="false" aria-controls="collapse-other">更多條件<i class="ti-angle-down"></i></button>
                </div> *@
                <div class="form-group">
                    <label for="" class="sr-only">關鍵字</label>
                    <input type="text" class="form-control" placeholder="路/街/社區/關鍵字">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">搜　尋</button>
                </div>
                @* 更多條件 暫時隱藏 *@
                @* <div class="collapse" id="collapse-other">
                    <div class="card card-block">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="grid">
                                    <span class="h6">房數</span>
                                    <label class="c-input c-checkbox m-b-0 m-l-1">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        含加蓋
                                    </label>
                                    <hr class="sm" />
                                    <label class="c-input c-radio">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        <span class="input-group">
                                            <select name="" id="" class="form-control form-control-sm">
                                                <option value="">不限</option>
                                                <option value="">1房</option>
                                                <option value="">2房</option>
                                                <option value="">3房</option>
                                                <option value="">4房</option>
                                                <option value="">5房</option>
                                                <option value="">6房</option>
                                            </select>
                                            <span class="input-group-addon form-control-sm">以上</span>
                                        </span>
                                    </label>
                                    <label class="c-input c-radio">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        <span class="input-group">
                                            <input type="text" class="form-control form-control-sm w-x-4">
                                            <span class="input-group-addon form-control-sm">房</span>
                                        </span>
                                        ~
                                        <span class="input-group">
                                            <input type="text" class="form-control form-control-sm w-x-4">
                                            <span class="input-group-addon form-control-sm">房</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="grid">
                                    <span class="h6">屋齡</span>
                                    <hr class="sm" />
                                    <label class="c-input c-radio">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        <select name="" id="" class="form-control form-control-sm">
                                            <option value="">0~5年</option>
                                            <option value="">6~10年</option>
                                            <option value="">11~20年</option>
                                            <option value="">21~30年</option>
                                            <option value="">31~40年</option>
                                            <option value="">41年以上</option>
                                        </select>
                                    </label>
                                    <label class="c-input c-radio">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        <span class="input-group">
                                            <input type="text" class="form-control form-control-sm w-x-4">
                                            <span class="input-group-addon form-control-sm">年</span>
                                        </span>
                                        ~
                                        <span class="input-group">
                                            <input type="text" class="form-control form-control-sm w-x-4">
                                            <span class="input-group-addon form-control-sm">年</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="grid">
                                    <span class="h6">樓層</span>
                                    <hr class="sm" />
                                    <label class="c-input c-radio">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        <select name="" id="" class="form-control form-control-sm">
                                            <option value="">1樓</option>
                                            <option value="">2~7樓</option>
                                            <option value="">8~10樓</option>
                                            <option value="">11樓以上</option>
                                        </select>
                                    </label>
                                    <label class="c-input c-radio">
                                        <input type="radio">
                                        <span class="c-indicator"></span>
                                        <span class="input-group">
                                            <input type="text" class="form-control form-control-sm w-x-4">
                                            <span class="input-group-addon form-control-sm">樓</span>
                                        </span>
                                        ~
                                        <span class="input-group">
                                            <input type="text" class="form-control form-control-sm w-x-4">
                                            <span class="input-group-addon form-control-sm">樓</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="grid">
                                    <span class="h6">類型 <small>(可複選)</small></span>
                                    <hr class="sm" />
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        公寓
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        電梯華廈大樓
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        多樓層 (樓中樓)
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        透天厝
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        成屋
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        預售屋
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        套房
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        其他
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="grid">
                                    <span class="h6">特色 <small>(可複選)</small></span>
                                    <hr class="sm" />
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        低公設
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        近捷運
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        近學校
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        近公園
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        近市場
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        無障礙空間
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        警衛管理
                                    </label>
                                </div>
                                <div class="grid">
                                    <span class="h6">車位 <small>(可複選)</small></span>
                                    <hr class="sm" />
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        坡道平面
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        機械平面
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        坡道機械
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        機械機械
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        庭院
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        另租
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        其他
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="grid">
                                    <span class="h6">特殊格局 <small>(可複選)</small></span>
                                    <hr class="sm" />
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        邊間
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        頂樓
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        頂樓加蓋
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        地下室
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        地下室+1樓
                                    </label>
                                </div>
                                <div class="grid">
                                    <span class="h6">朝向 <small>(可複選)</small></span>
                                    <select name="" id="" class="form-control form-control-sm">
                                        <option value="">物件大門</option>
                                        <option value="">大樓</option>
                                        <option value="">落地窗</option>
                                    </select>
                                    <hr class="sm" />
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        東
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        南
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        西
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        北
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        東南
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        東北
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        西南
                                    </label>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        西北
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
            </form>
        </div>

        <p class="clearfix">
            <span class="result pull-xs-left">共有<strong class="text-danger">304</strong>間房屋符合條件</span>
            <span class="pull-xs-right form-inline">
                <label for="">排序方式：</label>
                <select name="" id="" class="form-control form-control-sm">
                    <option value="">預設排序</option> @* 以後台設定的排序為主 *@
                    <option value="">更新時間新 → 舊</option> @* 以資料建立時間為主 *@
                    <option value="">總價低 → 高</option>
                    <option value="">總價高 → 低</option>
                    <option value="">坪數低 → 高</option>
                    <option value="">坪數高 → 低</option>
                    <option value="">屋齡低 → 高</option>
                    <option value="">屋齡高 → 低</option>
                </select>
            </span>
        </p>

        <ol class="prolist row">
            <li class="pro">
                <article class="card">
                    <a href="~/Sell/Content" class="card-img-top">
                        <img src="~/Content/images/Sell/pro1.jpg" alt="北大稀有輕豪宅">
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="~/Sell/Content">北大稀有輕豪宅</a></h4>
                        <section class="card-text">
                            <h5 class="card-subtitle">高樓景觀屋況佳、格局方正採光佳</h5>
                            <ul class="feature list-inline">
                                <li>新北市樹林區中華路</li>
                                <li>電梯大樓</li>
                                <li>成屋</li>
                                <li>坡道平面車位</li>
                            </ul>
                            <ul class="info list-inline">
                                <li>49.27 <span class="text-muted">建坪</span></li>
                                <li>29.11 <span class="text-muted">主+陽</span></li>
                                <li>7.3 <span class="text-muted">年</span></li>
                                <li>14/16 <span class="text-muted">樓</span></li>
                                <li>
                                    3 <span class="text-muted">房</span>
                                    2 <span class="text-muted">廳</span>
                                    2 <span class="text-muted">衛</span>
                                    0 <span class="text-muted">室</span>
                                </li>
                            </ul>
                            <span class="price">
                                <strong class="text-danger">2,980</strong>萬
                            </span>
                        </section>
                        <a href="~/Sell/Content" class="more btn btn-secondary">
                            看更多
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                </article>
            </li>
            <li class="pro">
                <article class="card">
                    <a href="~/Sell/Content" class="card-img-top">
                        <img src="~/Content/images/Sell/pro1.jpg" alt="北大稀有輕豪宅">
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="~/Sell/Content">北大稀有輕豪宅</a></h4>
                        <section class="card-text">
                            <h5 class="card-subtitle">高樓景觀屋況佳、格局方正採光佳</h5>
                            <ul class="feature list-inline">
                                <li>新北市樹林區中華路</li>
                                <li>電梯大樓</li>
                                <li>成屋</li>
                                <li>坡道平面車位</li>
                            </ul>
                            <ul class="info list-inline">
                                <li>49.27 <span class="text-muted">建坪</span></li>
                                <li>29.11 <span class="text-muted">主+陽</span></li>
                                <li>7.3 <span class="text-muted">年</span></li>
                                <li>14/16 <span class="text-muted">樓</span></li>
                                <li>
                                    3 <span class="text-muted">房</span>
                                    2 <span class="text-muted">廳</span>
                                    2 <span class="text-muted">衛</span>
                                    0 <span class="text-muted">室</span>
                                </li>
                            </ul>
                            <span class="price">
                                <strong class="text-danger">2,980</strong>萬
                            </span>
                        </section>
                        <a href="~/Sell/Content" class="more btn btn-secondary">
                            看更多
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                </article>
            </li>
        </ol>

    </div>
</div>