@charset "UTF-8";

// var
// ------------------------------------------------------------


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_admin/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/images";
@import "element/tables";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
@import "module/dropdown";
@import "module/button-group";
@import "module/input-group";
@import "module/custom-forms";
@import "module/nav";
@import "module/navbar";
@import "module/card";
@import "module/breadcrumb";
// @import "module/pagination";
@import "module/pager";
@import "module/labels";
// @import "module/jumbotron";
@import "module/alert";
@import "module/list-group";
// @import "module/responsive-embed";
@import "module/close";

// Components w/ JavaScript
@import "module/modal";
@import "module/tooltip";
@import "module/popover";
// @import "module/carousel";

// Utility classes
@import "helper/utilities-extends";
@import "helper/utilities";
@import "helper/extend";
@import "helper/classes";
@import "helper/utilities-background";
@import "helper/utilities-spacing";
@import "helper/utilities-responsive";

@import "_admin/element";
@import "_admin/module";
@import "_admin/layout";


// Elements
// ----------------------------------------------------------------------
.table {width: 100%;}
.btn-link {padding: 0;}



// Layout
// ----------------------------------------------------------------------
#wrapper {
	min-width: $wrap-min-width;
}


// 
// ----------------------------------------------------------------------
.table-header, .table-footer {
	padding: $spacer*0.3;
	background: $brand-primary-light;
}

.pager {
	.form-inline {margin: 0 $spacer*0.5;}
}

.upload-img {
	li {
		height: 70px;
		margin: $spacer*0.3;
		padding: $spacer*0.3;
		border: 1px solid #e5e5e5;

		img {
			width: auto;
			height: 100%;
		}

		.close {
			font-size: 1.2em;
		}
	}
}