@charset "UTF-8";

// var
// ------------------------------------------------------------


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_admin/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/images";
@import "element/tables";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
@import "module/dropdown";
@import "module/button-group";
@import "module/input-group";
@import "module/custom-forms";
@import "module/nav";
@import "module/navbar";
@import "module/card";
@import "module/breadcrumb";
// @import "module/pagination";
@import "module/pager";
@import "module/labels";
// @import "module/jumbotron";
@import "module/alert";
@import "module/list-group";
// @import "module/responsive-embed";
@import "module/close";

// Components w/ JavaScript
@import "module/modal";
@import "module/tooltip";
@import "module/popover";
// @import "module/carousel";

// Utility classes
@import "helper/utilities-extends";
@import "helper/utilities";
@import "helper/extend";
@import "helper/classes";
@import "helper/utilities-background";
@import "helper/utilities-spacing";
@import "helper/utilities-responsive";

@import "_admin/element";
@import "_admin/module";
@import "_admin/layout";


// Elements
// ----------------------------------------------------------------------
.table {width: 100%;}
.btn-link {padding: 0;}



// Layout
// ----------------------------------------------------------------------
#wrapper {
	min-width: $wrap-min-width;
}

// Employee - Resume
.img-preview {
	position: relative;

	.close {
		width: 24px;
		height: 24px;
		padding: 5px;
		position: absolute;
		right: 15px;
		top: 10px;
		float: none;

		text-align: center;
		line-height: 12px;
		font-size: 1em;
		color: #fff;
		background: $gray-light;
		border-radius: 50%;
		opacity: 0.8;

		&:hover {
			background: $brand-danger;
			opacity: 1;
		}
	}

	@include media-breakpoint-down(xs) {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
.avatar {
	font-weight: normal;
	.alert {
		display: block;
		padding: $list-inline-padding;
		font-size: $font-size-sm;
	}
}
.profile {
	@include media-breakpoint-only(sm) {
		li {
			strong {line-height: 1.2;}
		}
	}
}


// 
// ----------------------------------------------------------------------
.card {
	.card-header {
		[class*="pull-"] {margin-right: 10px;}
	}
}

.modal {
	.img-preview {
		text-align: center;
		.img-thumbnail {
			position: relative;
			img {max-width: 100%;}
		}
		.close {
			right: 0;
			top: 0
		}
	}
}