@charset "UTF-8";


// cards
// ----------------------------------------------------------------------
.card-block {
  padding: $card-spacer-y $card-spacer-x;
}


// label
// ----------------------------------------------------------------------
.label {
  max-width: 280px;
  @include text-truncate;
  margin-bottom: 4px;

  &.label-lg {
    font-size: 100%;
  }

  .close {
    margin-left: $spacer*0.3;
    font-size: 1rem;
    text-shadow: none;
    opacity: 0.4;
  }
}



// table sorting
// ----------------------------------------------------------------------
.th-sort-toggle {
  display: block;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
  background: none;
  border: none;

  &:hover {color: $link-color;}

  &::before, &::after {
    @include make-content;
    width: 0; height: 0;
    right: 0;
    border: 4px solid transparent;
  }
  &::before {
    top: 2px;
    border-top-width: 2px;
    border-bottom: 6px solid hsla(0,0,0,0.5);
  }
  &::after {
    bottom: 2px;
    border-bottom-width: 2px;
    border-top: 6px solid hsla(0,0,0,0.5);
  }

  &.asc, &.desc {color: $link-color;}
  &.asc {
    &::before {border-bottom-color: $link-color;}
    &::after {border-top-color: hsla(0,0,0,0.2);}
  }
  &.desc {
    &::after {border-top-color: $link-color;}
    &::before {border-bottom-color: hsla(0,0,0,0.2);}
  }
}



// navs
// ----------------------------------------------------------------------


// breadcrumb
// ----------------------------------------------------------------------
.breadcrumb {
  width: 100%;
  font-size: $font-size-sm;
  position: fixed;
  left: 0;
  top: 48px;
  z-index: 600;
  padding-left: 230px;
  border-bottom: 1px solid #e5e5e5;

  li {
    margin-right: $spacer*0.5;
    color: $gray-light;

    &::before {display: none;}
    [class*="fa-"] {color: $gray-light;}

    &:last-of-type {
      &, [class*="fa-"] {color: $brand-primary;}
    }
  }
}


// custom forms
// ----------------------------------------------------------------------

.c-input {
    & + & {margin-left: 0;}
    &:not(:last-child) {margin-right: $spacer;}

    .input-block-group & {display: block;}
}

.c-indicator {
    margin-top: $spacer*0.2;
    background: #fafafa;
    border: 1px solid #c8c8c8;

    .c-checkbox & {border-radius: 0;}

    .c-input > input:checked ~ &,
    .c-input > input:indeterminate ~ & { border-color: $brand-warning; background-color: $brand-warning; }
    .c-input > input:focus ~ &, &:hover {
      border-color: $brand-warning;
      box-shadow: none;
    }
}

input[type="file"] {
  max-width: 100%;
  overflow: hidden;
}

.file {
  height: auto;

  input {
    min-width: 0;
    width: 100%;
  }

  .form .row & {width: 100%;}
}
.file-custom,
.file-custom::before {
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-sm;

  @if $enable-rounded {
    border-radius: $border-radius;
  }
  @else {
    border-radius: 0;
  }
}

.file-custom::before {
  content:attr(rel);
  top: -0.06rem;
  right: -0.06rem;
  bottom: -0.06rem;
}
.file-custom::after {content:attr(title)}


// button group
// ----------------------------------------------------------------------



// pager
// ----------------------------------------------------------------------
.pager {
  margin: 0;

  li {
    > a,
    > span {
      padding: $pagination-padding-y $pagination-padding-x;
    }
  }
}
.pager-sm {
  font-size: $font-size-sm;

  li {
    > a,
    > span {padding: $pagination-padding-y-sm $pagination-padding-x-sm;}
  }
}
.pager-lg {
  li {
    > a,
    > span {padding: $pagination-padding-y-lg $pagination-padding-x-lg;}
  }
}


// tabs
// ----------------------------------------------------------------------
.nav-tabs {
  .nav-item {
    .nav-link {
      color: #999;
      background: #f7f7f7;
      border-color: $nav-tabs-border-color $nav-tabs-border-color transparent $nav-tabs-border-color;
      @include hover-focus {
        color: lighten($brand-primary,5%);
        background: #fff;
      }

      &.active {
        color: $gray;
        background: #fff;
        border-top: 2px solid $brand-primary;
        box-shadow: 0 (-2px) 2px #ddd;
      }
    }
  }
}

.tab-content {
  padding: .7em;
  border: 1px solid $nav-tabs-border-color;
  border-top: 0;
}


// modal
// ----------------------------------------------------------------------
.modal-content {
  @if $enable-rounded {
    border-radius: $border-radius-lg;
  }
  @else {
    border-radius: 0;
  }
}

.modal-dialog {
    @include media-breakpoint-down(sm) {
        width: auto;
        margin: 10px;
    }
}

// modal with pure css
.no-jq {
  &.modal, &.modal-backdrop {
    &.in {display: block;}
  }
}
.modal-backdrop.no-jq {
  display: none;
  opacity: $modal-backdrop-opacity;
}



// date-picker
// ----------------------------------------------------------------------
.react-datepicker__input-container {
  .input-group & {position: static;}
}
.react-datepicker__close-icon {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 100;
}


// tooltip
// ----------------------------------------------------------------------
[data-tip] {
  @include hover-focus {cursor: pointer;}
}