@{
	ViewBag.Title = "公司簡介";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<section id="content">

	<div class="wrap"><div class="editor">
	
		<h2 class="colored">幸福阿珍 (happiness agent) 幸福代理人</h2>

		<h3 class="colored">經營理念：</h3>
		<h4 class="colored">分享、創造、突破與改變</h4>
		<p>『利潤分享』是百腦匯雲端科技有限公司成立的主要宗旨。<br>
		運用現今物聯網的科技技術，創造出符合現今經濟發展趨勢『新型態的不動產獲利模式』及『社區經濟發展』形成一個可以永續經營的產業。我們願意將所獲得利潤與社會大眾分享。</p>
		<p>『創造持續獲利』以網路科技物聯網技術結合不動產經紀業者；第一階段：為社區管理委員及每一位住戶謀取最大的利潤，我們每一個的設計都是針對社區專屬收益型專案。</p>
		<p>『突破與改變』突破現今國內經濟與民生法案立法不足，協助社區在財務拓展方面擺脫約束性的規範，改變社區財源開闢能夠有穩定的收入，減少住戶在集合式住宅之共同生活壓力，為國內首創社區投資管理收益顧問服務，讓社區拒絕再當被政策法案遺漏的現代人共同開創社區幸福未來-還富於社區。</p>

		<h3 class="colored">服務項目：</h3>
		<h4 class="colored">當幸福來敲門-開啟富裕輕鬆的社區生活</h4>
		<ul class="list-icon list-underline">
			<li>合約性質：社區收益型專案顧問服務委託合約。</li>
			<li>合約期限：一年一簽</li>
		</ul>
		<p>將一種收益型規劃增值服務的資產管理概念與執行做法帶入社區之中。不干涉社區管理委員會及總幹事原有工作之執行下，提供管理委員會最佳收益執行方案。</p>

		<ul class="list-icon list-underline">
			<li>一、為社區建置對外收益型網站；運用物聯網與管理技術提供住戶更為便利的買賣（拍賣與購物）管道。</li>
			<li>二、專業社區總體營造及政府各種補助款待申請。</li>
			<li>三、協助社區經營，增加廣告收益（商家、店鋪、購物網站）</li>
			<li>四、合法將社區不動產交易所得利潤依比例回饋社區。</li>
		</ul>

		<hr>

		<h2 class="colored">百腦匯雲端科技有限公司</h2>
		<h3 class="colored">社區委員簡報概略</h3>
		<ol class="list-underline">
			<li>百腦匯雲端科技公司結合社區本身及周邊相關行業，替社區創造利潤。</li>
			<li>期待社區本身朝(零管理費)目標邁進。</li>
			<li>物業管理精進企劃(產值提升-提高房價-整體優良社區營造)。</li>
			<li>互利共生-以量制價概念(降低購物成本-最優質低價廠商)</li>
			<li>凝聚社區向心力，管委會加分，委員有面子，社區受尊重。</li>
			<li>有效控管物業保全-不動產房仲經紀…等效能，回饋社區。</li>
			<li>杜絕良莠不齊之不動產經紀人員踐踏社區(掃街式拜訪-20人以上狼吞虎嚥-颱風過境式群體帶看社區房屋，亂投名片，不具名信黑函-DM…等未經許可投入住戶信箱之粗暴行為)。</li>
			<li>有效減輕管委會壓力，面對社區管理各項難題，一一協助突破。</li>
			<li>專業優質社區經營團隊智囊團，時刻為您減壓獲利而努力。</li>
			<li>請給社區及我們一個機會，讓百腦匯為您簡報方案。</li>
		</ol>

	</div></div>

</section>

