@{
    ViewBag.Title = "Email";
}

<html>
<head>
    <meta charset="UTF-8">
    <title>幸福阿珍 - 申請加入百業達人</title>
</head>
<body style="font: 1em/140% '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;">
    <h1 style="font-size:1.5em; color:#8C6231;">幸福阿珍 - 申請加入百業達人</h1>
    <table border="1" bordercolor="#ddd" style="width:600px; border:1px solid #ccc">
        <caption style="background:#DF4F14; color:#fff; font-size:1.2em; font-weight:bold; padding:5px; text-align:center;">
            申請加入百業達人
        </caption>

        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">申請人姓名</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">name</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">性別</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">gender</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">LINE ID</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">line</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">生日</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">birth</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">聯絡電話</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">
                手機：mobile<br>
                市話：tel
            </td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">聯絡地址</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">addr</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">工作概況</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">
                自營業：自營業內容 @* 自營業 *@
                就業中 @* 其他狀況 *@
                待業中
                有兼職
            </td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">加入後想賣…？</td>
            <td style="width:75%; height:100px; word-break:break-all; padding:5px; border:1px solid #ccc">
                sell
                @Html.Raw(Model.content.Replace("\n", "<br/>"))
            </td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">個人專長</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">skill</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">證照</td>
            <td style="width:75%; padding:5px; border:1px solid #ccc">certificate</td>
        </tr>
        <tr>
            <td style="width:25%; color:#8C6231; padding:5px; border:1px solid #ccc">其他事項</td>
            <td style="width:75%; height:100px; word-break:break-all; padding:5px; border:1px solid #ccc">
                note
                @Html.Raw(Model.content.Replace("\n", "<br/>"))
            </td>
        </tr>
    </table>
</body>
</html>

