@{
	ViewBag.Title = "幸福房仲 VIP";
    ViewBag.BodyClass = "VIP";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<div id="content">

	<div class="wrap">
	
		<p class="text-xs-center">
			<a href="~/Content/images/VIP/dm.jpg" target="new">
				<img src="~/Content/images/VIP/dm.jpg" alt="">
			</a>
		</p>

	</div>

</div>