@{
	ViewBag.Title = "社區收益型專案";
    ViewBag.BodyClass = "Plan";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<div id="content">

	<div class="wrap"><div class="editor">
	
		<p class="text-xs-center">
			<a href="~/Content/images/Plan/dm.jpg" target="new">
				<img src="~/Content/images/Plan/dm.jpg" alt="">
			</a>
		</p>

		<hr>

		<h3 class="colored">全國唯一  社區收益型規劃</h3>
		<h4 class="colored">社區收益型專案</h4>
		<h5 class="colored">1. 補助款申請</h5>
		<ul class="list-icon">
			<li>評估申請</li>
			<li>核銷</li>
		</ul>
		<h5 class="colored">2. 收益型網站</h5>
		<ul class="list-icon">
			<li>量身定制</li>
			<li>線上收益</li>
		</ul>
		<h5 class="colored">3. 依法代理不動產經營</h5>
		<ul class="list-icon">
			<li>合法經營</li>
			<li>成交回饋</li>
		</ul>
		<h5 class="colored">4. 收益</h5>
		<p>收益款項-由社區管理委員會自行決議</p>

		<hr>

		<h3 class="colored">百腦匯雲端科技有限公司</h3>

		<h4 class="colored">收益型專案規劃說明：</h4>
		<ul class="list-icon list-underline">
			<li>一、至社區向管理委員會提報，本公司社區收益型規劃。</li>
			<li>二、經管理委員會同意後，彙報合約。</li>
			<li>三、合約確認無誤後；簽約壹年。</li>
			<li>四、簽約後進行收益綜合評估。</li>
			<li>五、十日內報收益規劃書。</li>
			<li>六、管理委員會簽認後；網站即日發包製作。</li>
			<li>七、社區廣告業務管理與開發。</li>
			<li>八、社區協助買賣資訊調查。</li>
			<li>九、不動產代理人進場服務。</li>
			<li>十、修繕補助款申請項目提報。</li>
			<li>十一、補助款申請彙報主管機關。</li>
			<li>十二、協助社區補助執行運用。</li>
			<li>十三、協助總幹事核銷經費。</li>
		</ul>

		<h4 class="colored">收益型專案執行過程說明：</h4>
		<ul class="list-icon list-underline">
			<li>一、收益回饋依據合約簽訂內容匯入委員會指定帳戶。</li>
			<li>二、到約前一個月；續約協議。</li>
		</ul>

		<h4 class="colored">備註：關於社區補助款申請事項說明：</h4>
		<ul class="list-icon list-underline">
			<li>一、如簽約後；所屬縣市社區補助款申請已過期限，本公司將於隔年補助款開放時申請。</li>
			<li>二、貴社區如已在縣市主管單位不得申請名單列內，本公司會於隔年主動詢問是否可申請，如上載管制內將另行規劃提案，為社區爭取補助。</li>
		</ul>
	</div></div>

</div>