@{
	ViewBag.Title = "社區收益型專案";
    ViewBag.BodyClass = "Plan";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<div id="content">

	<div class="wrap">
	
        @Html.Raw(ViewBag.content)

	</div>

</div>