@charset "UTF-8";


/*      config
-----------------------------------------------------------------------*/

// var
// 

$wrap-min-width:        #{map-get($container-max-widths, xl)} !default;

$footer-height:         115px !default;
$content-spacing:       50px !default;

// base
//

html, body { height: 100%; }

body {
    background: url(#{$img-path}/bg.jpg) fixed center top / cover;
}

a {
    @include transition(color 0.3s, background 0.3s);
    &:focus { outline: none; }
}



/*      layout
-----------------------------------------------------------------------*/

#wrapper {
    @if $enable-lte7 { _height: 100%; }
    min-width: $wrap-min-width;
    min-height: 100%;
    padding-bottom: $footer-height;
}

.wrap {
    @include make-container();
    @include make-container-max-widths();

    position: relative;
}

#header, #footer, #main {
    position: relative;
}



/*      elements
-----------------------------------------------------------------------*/

.logo {
    @include reset-text;
    margin: 0;

    a {@include text-pic('logo.gif', 345px, 80px);}
}


// header
// ----------------------------------------------------------------------
#header {
    padding: 30px 0 0 0;
    z-index: $zindex-navbar;

    .logo {
        padding: 50px 0;

        background: #fff;
        border-top: 5px solid $brand-primary;
        z-index: $zindex-navbar+10;

        a {margin: 0 auto;}
    }

    .topNav {
        position: absolute;
        right: $grid-gutter-width/2;
        top: 5px;

        li {margin-right: 12px;}

        a {
            display: block;
            padding: 4px 10px 6px 10px;
            color: #fff;
            background: $link-color;
            border-radius: 0 0 8px 8px;

            &:hover {
                background: $link-hover-color;
            }
        }
    }
}

#menu {
    padding: 0;
    background: #fff;

    .navbar-nav {
        li {margin:0;}
    }

    a {
        display: block;
        height: 115px;

        position: relative;

        padding: 30px $spacer*2.366;

        text-align: center;
        font-size: em(20px);

        &::after {
            content:" ";
            display: block;
            width: 100%;
            height: 0;

            position: absolute;
            left: 0;
            bottom: 0;

            background: #EBEBC8;
            z-index: 1;

            transition: height 0.35s;
        }

        span {
            position: relative;
            color: #5E5E5E;
            z-index: 2;

            transition: color 0.35s;
        }

        [class*="icon-"] {
            display: block;
            margin-bottom: $spacer*0.75;
            color: #ADB57E;
            transition: color 0.35s;
        }
    }
    $selector: ();
    @each $item in $pages {
        $i: index($pages, $item);
        $selector: append($selector, unquote(".#{$item} & li:nth-of-type(#{$i}) a"), comma);
    }
    a:hover, #{$selector} {
        &::after {height: 100%;}
        span {color: #735528;}
        [class*="ti-"] {color: #DEB964;}
    }
}


// main
// ----------------------------------------------------------------------
#content {
    padding-bottom: $content-spacing;
}




// footer
// ----------------------------------------------------------------------
#footer {
    height: $footer-height;
    margin-top: -($footer-height);
    padding: 25px 0;
    background: #fff;

    .logo, .social {
        position: absolute;
        transform: translateY(-50%);
    }

    .logo {
        left: 0;
        top: 45%;

        a {
            width: 250px;
            height: 58px;
            background-image: url('#{$img-path}/logo_s.gif');
        }
    }

    .copyright {
        margin-bottom: 12px;
        text-align: center;
        font-family: $font-family-en;
        font-weight: 300;
        color: #705B3A;
    }

    .contact {
        text-align: center;
        color: #857762;
        font-size: em(14px);

        li {margin-right: 20px;}
        a {
            color: #857762;

            &:hover {color: $link-hover-color;}
        }

        [class*="icon-"] {
            margin-right: 7px;
            font-size: em(18px);

        }
    }

    .social {
        right: 0;
        top: 50%;
        font-size: em(38px);

        a {
            color: #CFCB82;

            &:hover {color: $link-color;}
        }
    }
}

.goTop {
    @include size(34px);

    position: fixed;
    right: 0;
    bottom: 0;

    color: #fff;
    background: #A2A37A;
    opacity: 0.6;
    
    display: none;

    &:focus, &:hover {
        color: #fff;
        opacity: 1;
    }

    [class*="icon-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        font-size: em(10px);
    }
}