@{
	ViewBag.Title = "招賢納士";
    ViewBag.BodyClass = "Partner";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<section id="content">

	<div class="wrap"><div class="editor">
	
		<p class="text-xs-center">
			<a href="~/Content/images/Partner/dm.jpg" target="new">
				<img src="~/Content/images/Partner/dm.jpg" alt="">
			</a>
		</p>

	</div></div>

</section>