@{
    ViewBag.Title = "招賢納士";
    ViewBag.BodyClass = "Partner";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="h2 title">@ViewBag.Title</h2>

<div id="content">

    <div class="wrap">

        @Html.Raw(ViewBag.content)

    </div>

</div>