
@{
    ViewBag.Title = "Support";
    ViewBag.BodyClass = "Support";
    ViewBag.Target = "Support";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/collapse.js"></script>
}

<nav id="sidebar" class="tag">
    @* 後台可自定 *@
    <a href="~/Support" class="current">ALL</a> @* 當前+classs="current" *@
    <a href="~/Support">OEM/ODM</a>
</nav>

<div id="content">

    <article class="panel">
        <header>Annual General Meeting of Shareholders 2011</header>
        <div>
            @* 此為編輯器 *@
            <p>A conference call with Frans van Houten, CEO and Ron Wirahadiraksa, CFO, to discuss the results, will start at 10:00AM CET. A live audio webcast of the conference call will be available through the link below</p>
            <a href="#" class="btn btn-small">DOWNLOAD</a>
        </div>
        <footer>2016.1.28</footer>
    </article>

    <article class="panel">
        <header>Annual General Meeting of Shareholders 2011</header>
        <div>
            <p>A conference call with Frans van Houten, CEO and Ron Wirahadiraksa, CFO, to discuss the results, will start at 10:00AM CET. A live audio webcast of the conference call will be available through the link below</p>
        </div>
        <footer>2016.1.28</footer>
    </article>

</div><!-- content //-->