@{
    ViewBag.Title = "我要租房";
    ViewBag.BodyClass = "Rent";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        var id = @Request.QueryString["id"];
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_sell_content.js"></script>
}

<div id="content">
    <!--
    <div class="wrap">

        <h2 class="h2 title">北大稀有輕豪宅</h2>
        <ol class="breadcrumb">
            <li><a href="~/Index">HOME</a></li>
            <li><a href="~/Rent/List">我要租房</a></li>
        </ol>

        <dl class="grid-pro row">
            <dt class="thumb">
                <i class="img-thumbnail">
                    <img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy">
                </i>
                <a href="#gallery" class="btn btn-secondary btn-sm scroll">看更多實景照片</a>
            </dt>
            <dd class="profile">
                <article>
                    <h3 class="h4">
                        <span class="label label-rent">租</span>
                        新北市樹林區中華路
                        <small class="text-primary m-l-1">物件編號：0001234</small>
                    </h3>
                    <ul class="detail list-unstyled">
                        <li><strong class="text-secondary">租金：</strong><strong class="price text-danger">7,000</strong>元/月</li>
                        <li><strong class="text-secondary">押金：</strong>2 個月</li>
                        <li><strong class="text-secondary">坪數：</strong>7 坪</li>
                        <li><strong class="text-secondary">類型：</strong>大樓、獨立套房</li>
                        <li><strong class="text-secondary">格局：</strong>3房 / 2廳 / 2衛 / 0室</li>
                        <li><strong class="text-secondary">地址：</strong>桃園市桃園區鎮南街24號</li>
                        <li>
                            <div class="row">
                                <div class="grid">
                                    <strong class="text-secondary">屋齡：</strong>18.3年
                                </div>
                                <div class="grid">
                                    <strong class="text-secondary">車位：</strong>無
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="grid">
                                    <strong class="text-secondary">電梯：</strong>有
                                </div>
                                <div class="grid">
                                    <strong class="text-secondary">樓層/樓高：</strong>14/16樓
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>高樓景觀屋況佳、格局方正採光佳、市場學區交通便利、優質社區平面車位</p>
                        </li>
                    </ul>
                    <ul class="more-info list-unstyled clearfix">
                        <li class="tel">
                            <h5 class="h5 m-b-0">來電預約賞屋</h5>
                            <strong>02-8765-4321</strong>
                        </li>
                        <li>
                            <a href="#interior" class="btn btn-lg btn-secondary style2 scroll">格局圖</a>
                        </li>
                        <li>
                            <a href="#location" class="btn btn-lg btn-secondary style2 scroll">地圖</a>
                        </li>
                        <li>
                            <a href="#facility" class="btn btn-lg btn-secondary style2 scroll">生活機能</a>
                        </li>
                    </ul>
                </article>
            </dd>
        </dl>

        <section class="grid-info">
            <h3 class="h3">基本資料</h3>
            <table class="table table-striped">
                <tr>
                    <th scope="row">管理費</th>
                    <td style="width: 30%;">無</td>
                    <th style="width: 15%;" scope="row">最短租期</th>
                    <td>一年</td>
                </tr>
                <tr>
                    <th scope="row">開伙</th>
                    <td>不可以</td>
                    <th scope="row">寵物</th>
                    <td>不可以</td>
                </tr>
                <tr>
                    <th scope="row">身分要求</th>
                    <td>學生、上班族</td>
                    <th scope="row">性別要求</th>
                    <td>不拘</td>
                </tr>
                <tr>
                    <th scope="row">可遷入日</th>
                    <td colspan="3">隨時</td>
                </tr>
                <tr>
                    <th scope="row">家具提供</th>
                    <td colspan="3">床、衣櫃、沙發、桌子</td>
                </tr>
                <tr>
                    <th scope="row">設備提供</th>
                    <td colspan="3">洗衣機、冰箱、電視、冷氣、熱水器、網路、第四台</td>
                </tr>
            </table>
        </section>

        <section id="gallery" class="grid-info">
            <h3 class="h3">物件實景照片</h3>
            <ol class="gallery row">
                <li><a href="" class="img-thumbnail"><img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy"></a></li>
                <li><a href="" class="img-thumbnail"><img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy"></a></li>
                <li><a href="" class="img-thumbnail"><img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy"></a></li>
                <li><a href="" class="img-thumbnail"><img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy"></a></li>
                <li><a href="" class="img-thumbnail"><img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy"></a></li>
                <li><a href="" class="img-thumbnail"><img data-original="~/Content/images/Sell/pro1.jpg" alt="" class="lazy"></a></li>
            </ol>
        </section>

        <section id="interior" class="grid-info">
            <h3 class="h3">格局圖</h3>
            <p class="text-xs-center">
                <img data-original="~/Content/images/Sell/interior.jpg" alt="" class="img-thumbnail lazy">
            </p>
        </section>

        <section id="facility" class="grid-info">
            <h3 class="h3">生活機能</h3>
            <ul class="list-unstyled">
                <li><strong class="text-secondary">學校：</strong>鄰近大同國小、樹林國中。</li>
                <li><strong class="text-secondary">市場：</strong>鄰近彭厝市場</li>
                <li><strong class="text-secondary">公園：</strong>鎮前親子公園</li>
                <li><strong class="text-secondary">交通：</strong>捷運萬大線(預定)彭福站步行 6 分鐘</li>
            </ul>
        </section>

        <section id="location" class="grid-info">
            <h3 class="h3">地圖</h3>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.572889805967!2d121.37944231500457!3d24.94661608401328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681c740c32b2af%3A0x2ba1a4efce64b775!2zMjM45paw5YyX5biC5qi55p6X5Y2A5a245oiQ6LevNjU16Jmf!5e0!3m2!1szh-TW!2stw!4v1458115457215" frameborder="0" allowfullscreen></iframe>
        </section>

    </div>
    -->
</div>
