@{
    ViewBag.Title = "我要租屋";
    ViewBag.BodyClass = "Rent";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/loaders.min.css">
}
@section Scripts {
    <script>
        var info_type = 'R';
        var community_id;
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_sell_list.js"></script>
}

<h2 class="h2 title">@ViewBag.Title</h2>

<div id="content">
    <div class="loading">
        <div class="loader" data-loader="circle-side"></div>
        <p class="h4">資料讀取中……</p>
    </div>    
</div>