@{
    ViewBag.Title = "我要租屋";
    ViewBag.BodyClass = "Rent";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        var id = @Request.QueryString["id"];
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_sell_content.js"></script>
}

<div id="content"></div>
