@{
    //ViewBag.WebName = "桃園-國王城堡";
    ViewBag.Title = "社區待售房屋";
    ViewBag.BodyClass = "Neighbor Content Sell List pro1";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
@section css {
    <link rel="stylesheet" href="/Content/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/vendor/loaders.min.css">
}
@section Scripts {
    <script>
        var info_type = 'S';
        var community_id = @ViewBag.community_id;
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_sell_list.js"></script>
}
<h1 class="h2 title">@ViewBag.Title</h1>
<div id="content">
    <div class="loading">
        <div class="loader" data-loader="circle-side"></div>
        <p class="h4">資料讀取中……</p>
    </div>
</div>