@{
    ViewBag.Title = "社區待租房屋";
    ViewBag.BodyClass = "Neighbor Content Rent List";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
@section css {
    <link rel="stylesheet" href="/Content/css/vendor/themify-icons.css">
}

<h1 class="h2 title">@ViewBag.Title</h1>
<div id="content">
    <div class="wrap">

        <p class="clearfix">
            <span class="result pull-xs-left">共有<strong class="text-danger">0</strong>間房屋</span>
            <span class="pull-xs-right form-inline">
                <label for="">排序方式：</label>
                <select name="" id="" class="form-control form-control-sm">
                    <option value="">預設排序</option> @* 以後台設定的排序為主 *@
                    <option value="">更新時間新 → 舊</option> @* 以資料建立時間為主 *@
                    <option value="">總價低 → 高</option>
                    <option value="">總價高 → 低</option>
                    <option value="">坪數低 → 高</option>
                    <option value="">坪數高 → 低</option>
                    <option value="">屋齡低 → 高</option>
                    <option value="">屋齡高 → 低</option>
                </select>
            </span>
        </p>

    </div>
</div>