@{
    ViewBag.Title = "我要租屋";
    ViewBag.BodyClass = "Neighbor Content Rent List";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}

@section Scripts {
    <script>
        var id = @Request.QueryString["id"];
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_sell_content.js"></script>
    <script src="~/Content/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/swiper/swiper.min.js"></script>
}
<h1 class="sr-only">@ViewBag.Title</h1>

<div id="content"></div>