@{
    ViewBag.Title = "幸福社區";
    ViewBag.BodyClass = "Neighbor List";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="/Content/css/vendor/themify-icons.css">
}
@section Scripts {
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_neighbor_list.js"></script>
}

<h1 class="h2 title">@ViewBag.Title</h1>

<div id="content">
    <div class="wrap">
        <ol class="prolist row">
            <li class="pro style2">
                <article class="card">
                    <a href="~/Neighbor/Content" target="new" class="card-img-top">
                        <img data-original="@Url.Content("~/Content/images/Sell/pro1.jpg")" alt="桃園-國王城堡" class="lazy">
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="~/Neighbor/Content">桃園-國王城堡</a></h4>
                        <section class="card-text">
                            <h5 class="card-subtitle">桃園市桃園區莊二街1393號</h5>
                            <ul class="feature list-inline">
                                <li>低公設</li>
                                <li>近學校</li>
                                <li>近公園</li>
                            </ul>
                            <ul class="info list-inline">
                                <li><span class="text-muted">戶數</span> 107戶</li>
                                <li><span class="text-muted">管理方式</span> 警衛</li>
                                <li><span class="text-muted">屋齡</span> 16年</li>
                            </ul>
                        </section>
                        <a href="~/Neighbor/Content" target="new" class="more btn btn-secondary btn-block">
                            看更多
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                </article>
            </li>
            <li class="pro style2">
                <article class="card">
                    <a href="~/Neighbor/Content2" target="new" class="card-img-top">
                        <img data-original="@Url.Content("~/Content/images/Sell/pro2.jpg")" alt="桃園-紐約大時代社區" class="lazy">
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="~/Neighbor/Content2">桃園-紐約大時代社區</a></h4>
                        <section class="card-text">
                            <h5 class="card-subtitle">桃園市桃園區大興西路二段69巷128號</h5>
                            <ul class="feature list-inline">
                                <li>低公設</li>
                                <li>近學校</li>
                                <li>近公園</li>
                            </ul>
                            <ul class="info list-inline">
                                <li><span class="text-muted">戶數</span> 435戶</li>
                                <li><span class="text-muted">管理方式</span> 警衛</li>
                                <li><span class="text-muted">屋齡</span> 5年</li>
                            </ul>
                        </section>
                        <a href="~/Neighbor/Content2" target="new" class="more btn btn-secondary btn-block">
                            看更多
                            <i class="ti-angle-right"></i>
                        </a>
                    </div>
                </article>
            </li>
        </ol>

    </div>
</div>