<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>社區日誌:@Resources.Res.System_FrontName</title>
    <link href="~/Content/css/popup.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
</head>
<body class="popup">
    
    <h1 class="sr-only">社區日誌</h1>

    <article class="article">
        <h2 class="h3">
            <small class="date">2016-01-01</small>
            TitleTitle標題標題
        </h2>
        <div class="editor">
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>
            <p>內文內文內文內文內文內文內文內文內文內文</p>

            <ul class="list-inline">
                <li class="list-inline-item"><strong class="text-primary">檔案下載：</strong></li>
                <li class="list-inline-item"><a href="" class="btn btn-secondary">文件1.pdf</a></li>
            </ul>

        </div>
    </article>

</body>
</html>